@inherits LayoutComponentBase

<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight" />
<Header/>
<section class="section">
    <div class="container">
        @Body
    </div>
</section>

